{% extends 'frontbase.html.twig' %}

{% block sidebar %} {{ include('home/_usersidebar.html.twig') }} {% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-7">
            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-1 main">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ include('admin/messages.html.twig') }}
                        <h2><i>Kullanıcı Bilgileri</i></h2>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ app.user.id }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ app.user.email }}</td>
                            </tr>
                            <tr>
                                <th>Rol</th>
                                <td>{{ app.user.roles|join }}</td>
                            </tr>
                            <tr>
                                <th>Ad-Soyad</th>
                                <td>{{ app.user.name }}</td>
                            </tr>
                            <tr>
                                <th>Durum</th>
                                <td>{{ app.user.status }}</td>
                            </tr>
                            <tr>
                                <th>Adres</th>
                                <td>{{ app.user.address }}</td>
                            </tr>
                            <tr>
                                <th>Telefon</th>
                                <td>{{ app.user.phone }}</td>
                            </tr>
                            <tr>
                                <th>Şehir</th>
                                <td>{{ app.user.city }}</td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}